body {
  font-family: "メイリオ" ;
}

h1 {
  padding-left: 1rem;
  text-align: center;
}

h2 {
  color:darkgreen;
  border-bottom: 1px solid darkgreen;
  padding-left: 1rem;
  padding-right: 1rem;
}

#upload, #loadPicture {
  margin-left: 1rem;
  margin-bottom: 10px;
}


/* アップロード画像プレビュー */
#previewImage {
  display: none; 
  vertical-align: middle;  
  height: 100px;
}

/* ローディング画面 */
body {
  margin: 0;
  padding: 0;
}
.loading {
  position: fixed;
  z-index: 1000;
  top:0;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color:rgba(0 0 0 / 50%);
}
.loading.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 500ms;
}
.loading .circle {
  display: block;
  position: relative;
  top: calc( 50% - 20px );
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border: 8px solid #e0e0e0;
  border-top: 7px solid #ffcccc;
  border-radius: 50px;
  animation: loading 700ms linear 0ms infinite normal both;
}
@keyframes loading {
  0% { transform: rotate( 0deg ); }
  100% { transform: rotate( 360deg ); }
}


/* スライド */
ul {
  padding: 0;
}

li {
  list-style: none;
}

/* スライドを表示する枠 */
.slide-wrapper {
  justify-content: center;
  display: flex;
}

.slide-window {
  max-width: 1200px;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 10px;

  img {
    width: 600px;
    height: 500px;
    object-fit: cover;
  }
}

/*スライド0,1の設定 */
.slide0, .slide1 { 
  width: calc(600px * 3);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  transition: all 0.3s;
}

/* スライド1の位置はスライド0の右端に設定 */
.slide1 {
  position: absolute;
  top: 0;
  left: 1800px; 
}

/* スライド0を移動させるクラス */
.slide01 {
  transform: translateX(0);
}
.slide02 {
  transform: translateX(-33.33%);
}
.slide03 {
  transform: translateX(-66.66%);
} 
.slide04 {
  visibility: hidden;
  transform: translateX(-100%);
}
.slide05 {
  transform: translateX(66.66%);
  visibility: hidden;
}
.slide06 {
  transform: translateX(33.33%);
}

/* スライド1を移動させるクラス */
.slide11 {
  visibility: hidden;
  transform: translateX(-200%);
}
.slide12 {
  transform: translateX(-33.33%);
  visibility: hidden;
}
.slide13 {
  transform: translateX(-66.66%);
}
.slide14 {
  transform: translateX(-100%);
}
.slide15 {
  transform: translateX(-133.33%);
}
.slide16 {
  transform: translateX(-166.66%);
}


/* スライド 左右のボタン */
.next {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 10px;
  bottom: 50%;
  z-index: 10;
  cursor: pointer;
  border-top: solid 3px #000;
  border-right: solid 3px #000;
  -webkit-transform: rotate(45deg) translateY(50%);
  transform: rotate(45deg) translateY(50%);
}

.next:hover {
  width: 25px;
  height: 25px;
  right: 7px; 
}

.prev {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 25px;
  bottom: 50%;
  z-index: 10;
  cursor: pointer;
  border-top: solid 3px #000;
  border-right: solid 3px #000;
  -webkit-transform: rotate(-135deg) translateY(-50%);
  transform: rotate(-135deg) translateY(-50%);
}

.prev:hover {
  width: 25px;
  height: 25px;
  left: 26px;
}

/* スライド インジケーター */
.indicator {
  width: 100%;
  bottom: 20px;
  display: flex;
  column-gap: 25px;
  z-index: 10;
  justify-content: center;
  align-items: center;
}

.indicator li {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  list-style: none;
  background-color: #fff;
  border: 2px #000 solid;
  /* cursor: pointer; 作成中*/
}

.indicator li:first-of-type {
  background-color: #000;
}


/* 写真一覧表示 */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 440px;
  height: 400px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 15px 5px #777777;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  
    transform: scale(1);
    transform-origin: center;
    transition: transform 1s;
  }
}

.card img:hover {
  transform: scale(1.15);
}
