.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .card {
    width: 440px;
    height: 400px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    
      transform: scale(1);
      transform-origin: center;
      transition: transform 1s;
    }
  }
}

.card img:hover {
  transform: scale(1.15);
}


/* スライド */
li {
  list-style: none;
}

/* スライドの外枠 */
.slide-wrapper {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;

  img {
    width: 600px;
    height: 500px;
    object-fit: cover;
  }
}

/*スライド0,1全体 */
.slide0, .slide1 { 
  width: calc(600px * 3);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  transition: all 0.3s;
}

.slide1 {
  position: absolute;
  top: 0;
  left: 0;
}

/* スライド0をスライドさせるためのクラス */
.slide01 {
  transform: translateX(-33.33%);
}
.slide02 {
  transform: translateX(-66.66%);
}
.slide03 {
  transform: translateX(-100%);
} /* この処理終了後100%に移動しときたい */
.slide04 {
  transform: translateX(66.66%);
}
.slide05 {
  transform: translateX(33.33%);
}
.slide06 {
  transform: translateX(0%);
}

/* スライド1をスライドさせるためのクラス */
.slide11 {
  transform: translateX(66.66%);
}
.slide12 {
  transform: translateX(33.33%);
}
.slide13 {
  transform: translateX(0);
}
.slide14 {
  transform: translateX(-33.33%);
}
.slide15 {
  transform: translateX(-66.66%);
}
.slide16 {
  transform: translateX(-100%);
}/* この処理終了後、+100%に移動したい*/


/* 左右のボタン */
.next {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 10px;
  bottom: 50%;
  z-index: 10;
  cursor: pointer;
  border-top: solid 3px #000;
  border-right: solid 3px #000;
  -webkit-transform: rotate(45deg) translateY(50%);
  transform: rotate(45deg) translateY(50%);
}

.prev {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 25px;
  bottom: 50%;
  z-index: 10;
  cursor: pointer;
  border-top: solid 3px #000;
  border-right: solid 3px #000;
  -webkit-transform: rotate(-135deg) translateY(-50%);
  transform: rotate(-135deg) translateY(-50%);
}

/* インジケーター */
.indicator {
  width: 100%;
  position: absolute;
  bottom: 20px;
  display: flex;
  column-gap: 18px;
  z-index: 10;
  justify-content: center;
  align-items: center;
}

.indicator li {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  list-style: none;
  background-color: #fff;
  border: 2px #000 solid;
  cursor: pointer;
}

.indicator li:first-of-type {
  background-color: #000;
}